:root {
  --main-color: #24263b;
  --light-blue: #843cff;
  --light-blue-shadow: rgb(69 211 255 / 27%);
  --sea-green: #0abead;
  --sea-green-dark: #0cbfae;
  --sea-green-extra-dark: #09bead;
  --sea-green-shadow: rgba(11, 190, 173, 0.4);
  --header-hamburger-background: rgba(11, 190, 173, 0.8);
  --orange: #f57f17;
  --dark-orange: #ff5823;
  --orange-shadow: rgba(245, 127, 23, 0.2);
  --white: #ffffff;
  --black: #333333;
  --disabled-btn: #09bead7a;
  --error-message: #e4414fd1;
  --loader-color: #0cbfae;
}

.App .Sections {
    ::-webkit-scrollbar{
      display: none;
    }
    scrollbar-width: none;
    scroll-behavior: smooth;
  }


